{% extends 'base.html' %}

{% load bootstrap4 %}
{% block content %}
    <div class="create-campagne">
        <h2>Create an Awesome New Campagne</h2>
        <br>
        <form class="site-form" action="{% url 'campagne:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="Create" class="btn btn-primary">
            {% endbuttons %}
        </form>
    </div>
    <script src="/static/slugify.js"></script>
{% endblock %}