{% extends 'base.html' %}

{% block content %}
    <h1>Liste de Campagnes</h1>
    <div class="campagnes">
        {% for campagne in campagne %}
            <div class="campagne">
                <h2><a href="{% url 'campagne:detail' slug=campagne.slug %}">{{ campagne.nom }}</a></h2>
                <p>{{ campagne.charity_number }}</p>
                <p>{{ campagne.snippet }}</p>
                <p class="fundraiser">Created by {{ campagne.fundraiser.username }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}