{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Signup</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Service</a>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="contact">
        <div class="container">
            <div class="contact-form">
                <form id="contact-form" class="site-form" action="{% url 'accounts:signup' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    {% if request.GET.next %}
                    <div class="control-group">
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    </div>
                    {% endif %}
                    <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
{% endblock %}