{% extends 'base.html' %}

{% block content %}



<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'campagne:campagne_list' %}">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="{{ MEDIA_URL }}../static/img/about.jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>Worldwide non-profit charity coordination</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Charity compass is a non-profit website conceptualised and developed for the sake of the needy. Starting off as a university project in Morocco, Charity Compass made its way into the hearts of donors all around the world by providing ease of use, security and efficacy to the world of benevolence. We rallied people all around the globe for one purpose: To help. 
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            At charity compass, we aspire to bring about the change we want to see in the world. We guide kind hands all around the world towards the betterment of the globe, through communication and collaboration. We hope to alleviate the suffering of the needy and give purpose to those in search for it. We make helping an easy task by locating, guiding and informing about the different crises in the world; Join us now, every little bit counts! Make the world a better place in your own way.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            With Charity Compass, we hope to lead by example. The world doesn't need to be a dark place, so we'll be the first torch of many. We will lead the way to help those in need, and rally those that can help. Together, with volunteers, donators, and developers alike, we will make our world a place of betterment and cooperation, bringing about the good in people and shining light on the matters that need to be adressed most.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="{{ MEDIA_URL }}../static/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                        <p>Helpers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">10000</h3>
                        <p>Donors</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">55000</h3>
                        <p>Raised</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->


<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Awesome guys behind our charity activities</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ MEDIA_URL }}../static/img/team-1.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Donald John</h2>
                        <p>Founder & CEO</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ MEDIA_URL }}../static/img/team-2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Adam Phillips</h2>
                        <p>Chef Executive</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ MEDIA_URL }}../static/img/team-3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Thomas Olsen</h2>
                        <p>Chef Advisor</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ MEDIA_URL }}../static/img/team-4.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>James Alien</h2>
                        <p>Advisor</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="testimonial">
    <div class="container">
        <div class="section-header text-center">
            <p>Testimonial</p>
            <h2>What people are talking about our charity activities</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="{{ MEDIA_URL }}../static/img/testimonial-1.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>John Kennedy DOE</h3>
                        <p>Architect</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Charity Compass is changing lives! It is a platform for all to be good.
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="{{ MEDIA_URL }}../static/img/testimonial-2.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>Jane Curie DOE</h3>
                        <p>Professor</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        I don't regret discovering this website, the satisfaction of helping others is immeasurable.
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="{{ MEDIA_URL }}../static/img/testimonial-3.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>John Bush DOE</h3>
                        <p>Pilot</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        I donate every month, Charity Compass is saving lives!
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="{{ MEDIA_URL }}../static/img/testimonial-4.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>Jane Marie DOE</h3>
                        <p>Influencer</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        I love how you can meet people just by using this site, neat!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->



{% endblock %}