{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ONG</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <h1><a href="{% url 'home' %}"><img src="{% static 'logo.svg' %}" alt="Charity compass" /></a></h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn" type="submit">Log Out</button>
                        </form>
                    </li>
                    <li><a href="{% url 'campagne:create' %}" class="highlight">New Campagne</a></li>
                    {% else %}
                        <li><a class="btn" href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a class="btn" href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% if user.is_authenticated %}
                <h3 style="text-align: center; color: #00dba0;">Bienvenue, {{user.username}}</h3>
            {% endif %}
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>